@import 'variables';
@import 'mixins';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: $font-stack;
  font-size: 14px;
}

body {
  background-image: url('../images/bg-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
}



// ----------------------
// Elements
// ----------------------
main {
  height: 100%;
  @include gridProperty(minmax(260px, 400px), null, center, center);
  justify-items: center;
  gap: 1em;
}

footer {
  padding-bottom: 1em;
}



// ----------------------
// Objects
// ----------------------
.container {
  width: 90%;
  background-color: $dark-blue;
}

.transition {
  transition: all 0.2s;
}



// ----------------------
// First Section
// ----------------------
.first-section {
  border-radius: 10px 80px 10px 10px;
  display: grid;
  gap: 2.5em;
  padding: 3em;

  #{&}__icon {
    border-radius: 7px;
    background-color: $very-dark-blue;
    @extend .transition;
  }

  #{&}__icon:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  #{&}__icon + #{&}__icon {
    margin-left: 0.9em;
  }
}

.document {
  width: 47px;
  padding: 0.8em 1.05em;
}

.folder {
  width: 47px;
  padding: 0.9em;
}

.upload {
  width: 47px;
  padding: 1.02em 0.9em;
}




// ----------------------
// Second Section
// ----------------------
.second-section {
  border-radius: 10px;
  color: $pale-blue;
  text-align: center;
  padding: 2em;
  height: 175px;

  #{&}__text span {
    color: #FFF;
  }

  #{&}__bar-wrapper {
    @include flexProperty(start);
    height: 20px;
    background-color: lighten($very-dark-blue, 5%);
    border-radius: 50px;
  }

  #{&}__bar {
    height: 15px;
    background-image: linear-gradient($gradient1, $gradient2);
    border-radius: 50px;
    width: 75%;
    margin: 0 3px;
    @include flexProperty(flex-end);
    transition: 0.2s;
  }

  #{&}__bar::after {
    content: '';
    background-color: #FFF;
    height: 0.75em;
    width: 0.75em;
    border-radius: 100%;
    display: inline;
    margin-right: 0.2em;
  }

  #{&}__storage-length-wrapper {
    @include flexProperty(space-between, center);
    font-size: 0.9rem;
    color: #FFF;
    font-weight: 700;
  }

  #{&}__storage-wrapper {
    @include flexProperty();
    margin-inline: auto;
    background-color: darken(#FFF, 5%);
    border-radius: 10px;
    width: 70%;
    height: 75px;
    font-weight: 700;
    padding: 2.75em 2em;
    margin-top: 0.5em;
    @extend .transition;
  }

  #{&}__storage-wrapper:hover {
    transform: scale(1.1);
  }

  #{&}__first-big-text {
    font-size: Clamp(24px, 10vw, 48px);
    color: black;
  }
  
  #{&}__second-big-text {
    font-size: Clamp(0.5rem, 3vw, 1rem);
    align-self: center;
    color: $grayish-blue;
    text-transform: uppercase;
    margin-left: 0.5em;
  }

}



// ----------------------
// Footer
// ----------------------
.attribution {
  font-size: 11px; 
  text-align: center;
  position: absolute;
  margin-top: 5em;
  bottom: 0;

  #{&}__link {
    color: hsl(228, 45%, 44%);
  }
}


@include media-xs {
  // ----------------------
  // First section media query xs
  // ----------------------
  .first-section {
    padding: 1em;

    #{&}__icon + #{&}__icon {
      margin-left: 0.5em;
    }
  }

  // ----------------------
  // Second section media query xs
  // ----------------------
  .second-section {
    padding: 1em;
  }
}

@include media-md {
  main {
    grid-template-columns: minmax(260px, 400px) minmax(260px, 600px);
    gap: 2em;
  }


  // ----------------------
  // First section query md
  // ----------------------
  .first-section {
    justify-self: end;
  }


  // ----------------------
  // Second section media query md
  // ----------------------
  .second-section {
    justify-self: start;
    text-align: left;

    #{&}__storage-wrapper {
      width: 80%;
      max-width: 250px;
    }

  }
}

@include media-lg {
  html, body {
    background-color: $very-dark-blue;
    position: relative;
  }

  html::after, body::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    background-image: url('../images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  main {
    background-color: $very-dark-blue
  }
  

  // ----------------------
  // First section media query lg
  // ----------------------
  .first-section {
    z-index: 1;
  }


  // ----------------------
  // Second section media query lg
  // ----------------------
  .second-section {
    align-self: flex-end;
    text-align: left;
    position: relative;
    height: 150px;
    z-index: 1;

    #{&}__storage-wrapper {
      max-width: 200px;
      position: absolute;
      margin: 0;
      top: -4em;
      right: 2em;
      border-radius: 10px 10px 0 10px;
    }

    #{&}__storage-wrapper::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 2em solid darken(#FFF, 5%);
      border-left: 2em solid $dark-blue;
      position: absolute;
      bottom: -2em;
      right: 0;
    }

  }


  // ----------------------
  // Footer media query lg
  // ----------------------
  .attribution {
    z-index: 1;
  }
}